<div class="p-6">
    <!-- Spinner -->
    <div *ngIf="isFetchingToDeleteStudent">
      <app-loading-spinner />
    </div>

  <!-- Header Section -->
  <div class="flex flex-col md:flex-row items-start md:items-center justify-between gap-4 md:gap-0 select-none">
    <!-- Title -->
    <h4 class="font-medium text-xl md:text-2xl">Students Management</h4>

    <!-- Search box -->
    <div class="relative w-full md:w-[300px]">
      <span class="absolute top-1/2 left-[16px] -translate-y-1/2 text-[#11111152]">
        <fa-icon [icon]="icons.faMagnifyingGlass"></fa-icon>
      </span>

      <input
        type="text"
        name=""
        id=""
        placeholder="Search here"
        class="w-full pl-[52px] pr-[16px] py-[11px] outline-none border border-[#DDDDDD] border-solid rounded-md text-dark"
      />
    </div>
  </div>

  <!-- Table -->
  <div class="mt-6 bg-light rounded-lg">
    <!-- Header -->
    <div
      class="flex flex-col md:flex-row items-start md:items-center justify-between gap-4 md:gap-0 p-6 border-b border-secondary border-solid"
    >
      <!-- Select number of records per page -->
      <div class="text-sm md:text-base">
        Show
        <span class="">
          <select
            (change)="onChangeNumberOfEntriesPerPage($event)"
            name=""
            id="num-per-page"
            class="border border-solid border-secondary outline-none px-2 py-1 rounded-lg"
          >
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
          </select>
        </span>
        entries
      </div>

      <!-- Buttons -->
      <div class="flex items-center justify-between gap-4">
        <button class="btn icon primary rounded-lg">
          <fa-icon [icon]="icons.faList"></fa-icon>
        </button>

        <button class="btn icon secondary rounded-lg">
         <fa-icon [icon]="icons.faBorderAll"></fa-icon>
        </button>

        <button class="btn icon primary rounded-lg" routerLink="create">
          <fa-icon [icon]="icons.faPlus"></fa-icon>
        </button>
      </div>
    </div>

    <!-- Skeleton for get student list -->
    <div *ngIf="isFetchingStudentList" class="p-6">
      <app-skeleton />
    </div>

    <!-- Table data -->
    <div class="overflow-x-auto max-h-[400px] overflow-y-scroll">
      <table *ngIf="!isFetchingStudentList" class="w-full text-sm text-dark">
        <thead>
          <tr>
            <th><input type="checkbox" /></th>
            <th>ID</th>
            <th>Name</th>
            <th>Class</th>
            <th>Gender</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody *ngIf="studentListToShow.length === 0">
          <tr>
            <td colspan="7" rowspan="2" class="!text-center">Empty</td>
          </tr>
        </tbody>

        <tbody *ngIf="studentListToShow.length > 0">
          <tr *ngFor="let student of studentListToShow">
            <td><input type="checkbox" /></td>
            <td>{{ student.id }}</td>
            <td class="flex items-center gap-2 w-max cursor-pointer group" [routerLink]="[student.id]">
              <img class="w-[40px] h-[40px] rounded-full" src="../assets/images/avt.jpg" alt="" />
              <span class="group-hover:text-active">{{ student.name }}</span>
            </td>
            <td>{{ student.grade }}{{ student.section | uppercase }}</td>
            <td>{{ student.gender }}</td>
            <td>{{ student.phone }}</td>
            <td>{{ student.email }}</td>
            <td>
              <div class="flex items-center gap-2">
                <a class="btn icon secondary sm rounded-full" type="button" [routerLink]="[ student.id, 'update']">
                  <fa-icon [icon]="icons.faPenToSquare"></fa-icon>
                </a>
                <button class="btn icon secondary sm rounded-full" (click)="onClickDeleteButton(student.id)">
                  <fa-icon [icon]="icons.faTrash"></fa-icon>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Footer -->
    <div
      *ngIf="!isFetchingStudentList && studentListToShow.length > 0"
      class="flex flex-col md:flex-row items-center justify-between p-6 gap-4 md:gap-0 border-t border-secondary border-solid"
    >
      <span class="text-sm md:text-base"
        >Showing {{ (this.currentPage - 1) * this.numberOfEntriesPerPage + 1 }} to
        {{
          this.currentPage * this.numberOfEntriesPerPage > studentList.length
            ? studentList.length
            : this.currentPage * this.numberOfEntriesPerPage
        }}
        of {{ studentList.length }} entries</span
      >
      <div class="flex items-center gap-4 lg:gap-2 select-none">
        <button class="btn icon rounded-lg" [disabled]="currentPage === 1" (click)="onClickPreviousPage()">
          <fa-icon [icon]="icons.faChevronLeft"></fa-icon>
        </button>
        <button
          class="btn icon rounded-lg"
          *ngFor="let pageNumber of pageNumbers; index as i"
          [ngClass]="{ primary: currentPage === i + 1 }"
          (click)="onClickPageNumber(i + 1)"
        >
          {{ pageNumber }}
        </button>
        <button
          class="btn icon rounded-lg"
          [disabled]="currentPage === pageNumbers[pageNumbers.length - 1]"
          (click)="onClickNextPage()"
        >
           <fa-icon [icon]="icons.faChevronRight"></fa-icon>
        </button>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div *ngIf="showModal">
    <app-modal (onClose)="handleCloseModal()" (onAccept)="handleDeleteStudent()" title="Delete Student" content="This action cannot be undone. Are you sure you want to continue?" />
  </div>
</div>
