<div class="p-6">
  <!-- Header -->
  <div class="flex flex-col md:flex-row items-start md:items-center justify-between gap-4 md:gap-0">
    <!-- Title -->
    <h4 class="font-medium text-xl md:text-2xl">Students Management</h4>

    <!-- Search box -->
    <div class="relative w-full md:w-[300px]">
      <span class="absolute top-1/2 left-[16px] -translate-y-1/2 text-[#11111152]">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-search"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path>
          <path d="M21 21l-6 -6"></path>
        </svg>
      </span>

      <input
        type="text"
        name=""
        id=""
        placeholder="Search here"
        class="w-full pl-[52px] pr-[16px] py-[11px] outline-none border border-[#DDDDDD] border-solid rounded-md text-dark"
      />
    </div>
  </div>

  <!-- Table -->
  <div class="mt-6 min-h-[600px] bg-light rounded-lg">
    <!-- Header -->
    <div
      class="flex flex-col md:flex-row items-start md:items-center justify-between gap-4 md:gap-0 p-6 border-b border-secondary border-solid"
    >
      <!-- Select number of records per page -->
      <div class="text-sm md:text-base">
        Show
        <span class="">
          <select
            name=""
            id="num-per-page"
            class="border border-solid border-secondary outline-none px-2 py-1 rounded-lg"
          >
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
          </select>
        </span>
        entries
      </div>

      <!-- Buttons -->
      <div class="flex items-center justify-between gap-4">
        <button class="btn primary rounded-lg">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-list"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M9 6l11 0"></path>
            <path d="M9 12l11 0"></path>
            <path d="M9 18l11 0"></path>
            <path d="M5 6l0 .01"></path>
            <path d="M5 12l0 .01"></path>
            <path d="M5 18l0 .01"></path>
          </svg>
        </button>

        <button class="btn secondary outlined rounded-lg">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-layout-grid"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M4 4m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"></path>
            <path d="M14 4m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"></path>
            <path d="M4 14m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"></path>
            <path d="M14 14m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"></path>
          </svg>
        </button>

        <button class="btn primary rounded-lg">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-plus"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 5l0 14"></path>
            <path d="M5 12l14 0"></path>
          </svg>
        </button>
      </div>
    </div>

    <!-- Table data -->
    <div class="overflow-x-auto max-h-[500px] overflow-y-scroll">
      <table class="w-full text-sm text-dark">
        <thead>
          <tr>
            <th><input type="checkbox" /></th>
            <th>ID</th>
            <th>Name</th>
            <th>Class</th>
            <th>Gender</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody class="">
          <tr *ngFor="let student of studentList">
            <td><input type="checkbox" /></td>
            <td>{{ student.id }}</td>
            <td class="flex items-center gap-2 w-max">
              <img class="w-[40px] h-[40px] rounded-full" src="{{ student.avatar }}" alt="" />
              <span class="">{{ student.name }}</span>
            </td>
            <td>{{ student.grade }}{{ student.section | uppercase }}</td>
            <td>{{ student.gender }}</td>
            <td>{{ student.phone }}</td>
            <td>{{ student.email }}</td>
            <td>
              <div class="flex items-center gap-2">
                <button class="btn secondary rounded-full sm">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-edit"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"></path>
                    <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"></path>
                    <path d="M16 5l3 3"></path>
                  </svg>
                </button>
                <button class="btn secondary rounded-full sm">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-trash-x"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M4 7h16"></path>
                    <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
                    <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
                    <path d="M10 12l4 4m0 -4l-4 4"></path>
                  </svg>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Footer -->
    <div
      class="flex flex-col md:flex-row items-center justify-between p-6 gap-4 md:gap-0 border-t border-secondary border-solid"
    >
      <span class="text-sm md:text-base">Showing 1 to 10 entries</span>
      <div class="flex items-center gap-4 lg:gap-2">
        <button class="btn disabled rounded-lg" [disabled]="true" (click)="onClickPreviousPage()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-chevron-left"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M15 6l-6 6l6 6"></path>
          </svg>
        </button>
        <button class="btn primary rounded-lg">1</button>
        <button class="btn rounded-lg">2</button>
        <button class="btn rounded-lg">3</button>
        <button class="btn rounded-lg">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-chevron-right"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M9 6l6 6l-6 6"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
