<div class="flex items-center justify-center h-screen">
  <div
    class="modal-backdrop flex justify-center items-center"
    [ngClass]="{ hidden: showBackdrop }"
  >
    <div class="w-full max-w-xl bg-[#0f0d58] py-7 px-5 rounded-xl">
      <h1 class="text-[#4aedc4] font-bold text-center text-3xl mb-5">
        Xin mời nhập mã học sinh và họ tên để tiếp tục !
      </h1>
      <form class="" (ngSubmit)="onSubmit()">
        <div class="mb-6">
          <label class="block font-bold mb-2 text-white" for="student-id">
            Mã sinh viên
          </label>
          <input
            class="shadow appearance-none border-yellow-400 focus:border-green-500 ease-linear transition-all duration-500 border-[2px] rounded-lg w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="student-id"
            type="text"
            placeholder="Nhập mã sinh viên"
          />
        </div>
        <div class="mb-6">
          <label class="block text-white font-bold mb-2" for="full-name">
            Họ tên
          </label>
          <input
            class="shadow appearance-none border-yellow-400 focus:border-green-500 ease-linear transition-all duration-500 border-[2px] rounded-xl w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="full-name"
            type="text"
            placeholder="Nhập họ tên"
          />
        </div>
        <div class="flex items-center justify-center">
          <button
            type="submit"
            class="px-12 py-4 mt-4 disabled:opacity-50 font-semibold tracking-wide bg-blue-500 hover:bg-[#10a37f] hover:motion-safe:scale-110 text-white ease-linear rounded-lg transition-all duration-300"
          >
            Check
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="container mx-auto p-52">
    <h1 class="text-xl font-bold mb-4">Câu hỏi trắc nghiệm</h1>
    <form>
      <div class="border border-gray-400 rounded-lg p-4 mb-4">
        <p class="text-lg mb-4 font-medium">Câu hỏi 1: Hãy chọn đáp án đúng?</p>
        <div class="flex flex-col">
          <label
            class="inline-flex items-center mb-2"
            [class.bg-gray-100]="selectedAnswer === 'A'"
            (click)="selectedAnswer = 'A'"
          >
            <input type="radio" class="form-radio" name="answer" value="A" />
            <span class="ml-2 w-full py-6 px-6 rounded-lg">Đáp án A</span>
          </label>
          <label
            class="inline-flex items-center mb-2"
            [class.bg-gray-100]="selectedAnswer === 'B'"
            (click)="selectedAnswer = 'B'"
          >
            <input type="radio" class="form-radio" name="answer" value="B" />
            <span class="ml-2 w-full py-6 px-6 rounded-lg">Đáp án B</span>
          </label>
          <label
            class="inline-flex items-center mb-2"
            [class.bg-gray-100]="selectedAnswer === 'C'"
            (click)="selectedAnswer = 'C'"
          >
            <input type="radio" class="form-radio" name="answer" value="C" />
            <span class="ml-2 w-full py-6 px-6 rounded-lg">Đáp án C</span>
          </label>
          <label
            class="inline-flex items-center"
            [class.bg-gray-100]="selectedAnswer === 'D'"
            (click)="selectedAnswer = 'D'"
          >
            <input type="radio" class="form-radio" name="answer" value="D" />
            <span class="ml-2 w-full py-6 px-6 rounded-lg">Đáp án D</span>
          </label>
        </div>
      </div>
      <button
        class="bg-blue-500 hover:bg-blue-600 text-white py-4 px-6 rounded-lg"
        type="submit"
      >
        Gửi đáp án
      </button>
    </form>
  </div>

  <div class="container mx-auto p-52">
    <h1 class="text-xl font-bold mb-4">Câu hỏi trắc nghiệm</h1>
    <form>
      <div class="border border-gray-400 rounded-lg p-4 mb-4">
        <p class="text-lg mb-4 font-medium">Câu hỏi 1: Hãy chọn đáp án đúng?</p>
        <div class="flex flex-col">
          <label
            class="inline-flex items-center mb-2"
            [class.bg-gray-100]="selectedAnswer === 'A'"
            (click)="selectedAnswer = 'A'"
          >
            <input type="radio" class="form-radio" name="answer" value="A" />
            <span class=" ml-2 flex justify-between w-full py-6 px-6 bg-red-300 rounded-lg"> <span>Đáp án A</span> <i class="fas fa-x p-2 rounded-3xl right-0 bg-red-600"></i> </span>
          </label>
          <label
            class="inline-flex items-center mb-2"
            [class.bg-gray-100]="selectedAnswer === 'B'"
            (click)="selectedAnswer = 'B'"
          >
            <input type="radio" class="form-radio" name="answer" value="B" />
            <span class="ml-2 flex justify-between w-full py-6 px-6 bg-green-300 rounded-lg"> <span>Đáp án B</span> <i class="fas fa-check p-2 rounded-3xl right-0 bg-green-600"></i> </span>
          </label>
          <label
            class="inline-flex items-center mb-2"
            [class.bg-gray-100]="selectedAnswer === 'C'"
            (click)="selectedAnswer = 'C'"
          >
            <input type="radio" class="form-radio" name="answer" value="C" />
            <span class="ml-2 w-full py-6 px-6 rounded-lg">Đáp án C</span>
          </label>
          <label
            class="inline-flex items-center"
            [class.bg-gray-100]="selectedAnswer === 'D'"
            (click)="selectedAnswer = 'D'"
          >
            <input type="radio" class="form-radio" name="answer" value="D" />
            <span class="ml-2 w-full py-6 px-6 rounded-lg">Đáp án D</span>
          </label>
        </div>
      </div>
      <button
        class="bg-blue-500 hover:bg-blue-600 text-white py-4 px-6 rounded-lg"
        type="submit"
      >
        Đã xong
      </button>
    </form>
  </div>
</div>
