<!--[ngClass]="{'text-white bg-blue-500' : el.active}"-->
<!--<ng-container *ngIf="vm$ | async as vm">-->
<div class="py-6 px-8 h-perfectly">
  <h1 class="font-medium text-[1.4rem]">{{(isEdit$ | async) ? 'Edit' : 'Add'}} Classroom</h1>
  <div class="mt-14 py-6 px-6 bg-white">
    <h2 class="font-medium text-[1.2rem]">Class Information</h2>

    <form [formGroup]="createForm" (ngSubmit)="onSubmit()" #form="ngForm">
      <div class="grid gap-4 grid-cols-3 mt-10">
        <!-- Gender -->
        <div class="relative">
          <label
            class="absolute text-[0.8rem] -top-2.5 left-3 bg-white px-1 text-gray-400 font-medium tracking-wider">Teacher</label>
          <select
            formControlName="teacherId"
            class="block w-full px-3 py-5 font-normal border border-gray-300 rounded-lg placeholder:font-md placeholder:text-gray-400 outline-none focus:border-blue-500 lg:px-4 lg:py-[0.8rem] lg:text-[0.9rem] bg-white">
            <option *ngFor="let teacher of teacherSearchList$ | async" [value]="teacher.id"
                    (click)="teacherActiveOption$.next('' + teacher.id)"
            >{{teacher.name}}
            </option>
          </select>
        </div>

        <div class="relative">
          <label
            class="absolute text-[0.8rem] -top-2.5 left-3 bg-white px-1 text-gray-400 font-medium tracking-wider">Grade</label>
          <select
            #gradeSelect
            formControlName="grade"
            (change)="error = ''"
            class="block w-full px-3 py-3 font-normal border border-gray-300 rounded-lg placeholder:font-md placeholder:text-gray-400 outline-none focus:border-blue-500 lg:px-4 lg:lg:py-[0.8rem] lg:text-[0.9rem] bg-white">
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
          </select>
        </div>


        <div class="relative">
          <label
            for="name"
            class="absolute text-[0.8rem] -top-2.5 left-3 bg-white px-1 text-gray-400 font-medium tracking-wider"
          >
            Class Name <span class="text-red-600">*</span>
          </label>
          <input
            type="text"
            id="name"
            class="block w-full px-3 py-3 font-normal border border-gray-300 rounded-lg placeholder:font-md placeholder:text-gray-400 outline-none focus:border-blue-500 lg:px-4 lg:py-[0.8rem] lg:text-[0.9rem]"
            placeholder="Name"
            formControlName="name"
            (focus)="error = ''"
          />
        </div>
        <span
          style="color: red" *ngIf="error">{{error}}</span>
        <span
          style="color: red"
          *ngIf="
          (createForm.controls.name.dirty || form.submitted) &&
          !createForm.controls.name.valid && createForm.controls.name.touched
        "
        >Please provide class name</span>
      </div>

      <button [disabled]="isLoading"
              class="mt-8 text-white bg-active py-2 px-12 rounded flex items-center disabled:cursor-not-allowed disabled:bg-blue-400"
              type="submit">
        <svg *ngIf="isLoading" class="animate-spin -ml-1 mr-3 h-4 w-4 text-white" xmlns="http://www.w3.org/2000/svg"
             fill="none"
             viewBox="0 0 24 24">
          <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
          <path class="opacity-75" fill="currentColor"
                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
        </svg>
        {{ isLoading ? 'Submitting..' : 'Submit'}}
      </button>
    </form>
  </div>
</div>
<!--</ng-container>-->
