<div *ngIf="quiz">
  <div class="p-4 mb-10 border border-gray-400 rounded-lg">
    <p class="mb-4 text-lg font-normal">{{idx + 1}}. {{ quiz.question }}
      <span class="font-medium">Score: {{quiz.score}}</span>
    </p>
    <p class="mb-4 text-lg font-normal text-red-500">
      {{quiz.result && !quiz.result.isCurrentChoose.isChoose ? 'Not choose answer':''}}
    </p>

    <div class="flex flex-col" *ngFor="let answer of shufflerAnswers; let idx = index">
      <label [for]="quiz.id+'-'+idx" class="inline-flex items-center pl-5 mb-2 rounded-lg"
        [ngClass]="!quiz.result?'hover:bg-gray-200':''">
        <input type="radio" class="form-radio" value={{answer}} #input type="radio" [name]="quiz.id"
          [id]="quiz.id+'-'+idx" (change)="onChoose(handleChoose(answer))" [disabled]="quiz.result" />
        <span class="w-full px-6 py-6 ml-2 rounded-lg"
          [hidden]="quiz.result && quiz.correct_answer===answer || quiz.result?.isCurrentChoose?.answer === answer">{{answer}}
        </span>
        <span *ngIf="quiz.result && quiz.correct_answer===answer"
          class="flex justify-between w-full px-6 py-6 ml-2 bg-green-300 rounded-lg"> <span>{{answer}}</span> <i
            class="right-0 p-2 bg-green-600 fas fa-check rounded-3xl"></i></span>
        <span *ngIf="quiz.result?.isCorrect === false && quiz.result?.isCurrentChoose?.answer === answer"
          class="flex justify-between w-full px-6 py-6 ml-2 bg-red-300 rounded-lg"> <span>{{answer}}</span> <i
            class="right-0 flex items-center justify-center w-8 h-8 bg-red-600 rounded-full fas fa-x"></i></span>
      </label>
    </div>
  </div>
</div>