<div class="fixed top-0 left-0 right-0 z-[999] flex h-header items-center justify-between bg-light">
  <!-- Logo -->
  <div class="header-logo order-2 lg:order-1 flex-1 lg:flex-none px-0 lg:px-5 flex w-auto lg:w-sidebar justify-start transition-all duration-200 ease-in-out">
    <img class="header-full-logo w-[156px] opacity-100 block" src="../assets/images/logo.png" alt="" />
    <img class='header-small-logo w-[2.625rem] h-[40px] hidden opacity-0' src="../assets/images/logo-small.png" alt="">
  </div>

  <!-- Menu button -->
  <div class="grow-0 lg:grow order-1 lg:order-2 mx-5 lg:mx-0 flex align-middle">
    <button class="btn primary rounded-lg" (click)="onClickMenuIcon()">
      <app-menu-icon />
    </button>

    <button class="btn bg-button rounded-lg border border-button text-button ml-8 h-10" >
      <i class="fa-solid fa-magnifying-glass text-fs15 w-5 h-5 leading-5 mr-1.5"></i>
      <input class="input text-fs15 bg-button border-none pr-20" type="text" placeholder="Search here">
    </button>
  </div>

  <!-- Right section -->
  <div class="h-full flex items-center px-6 order-3 relative select-none">
    <button class="btn secondary rounded-full border-transparent mr-4">
      <app-bell-icon />
    </button>

    <button class="btn secondary rounded-full border-transparent mr-4 hidden lg:block">
      <app-zoom-icon />
    </button>

    <div #userMenu class="h-full flex items-center cursor-pointer group" (click)="onClickUserMenu()">
      <div class="w-[40px] h-[40px] rounded-full p-[0.125rem] border-2 border-secondary mr-2 group-hover:border-primary transition duration-200 ease-in-out">
        <img class="w-full rounded-full" src="../assets/images/avt.jpg" alt="">
      </div>

      <div class="mr-2 hidden lg:block">
        <p class="text-dark text-sm font-medium">{{ name }}</p>
        <p class="text-active text-xs font-medium">Administrator</p>
      </div>

      <span class="hidden lg:block">
        <app-chevron-down-icon />
      </span>
    </div>

    <!-- Dropdown -->
    <div #dropdown class="absolute top-full right-[20px] w-[200px] border border-solid border-secondary transition-200-ease-in-out" [ngClass]="showDropdown ? 'visible translate-y-0 opacity-100' : 'opacity-0 translate-y-4 invisible'">
      <div class="flex items-center gap-2 bg-[#f9f9f9] px-4 py-2">
        <img class="w-[40px] h-[40px] rounded-full" src="../assets/images/avt.jpg" alt="">
        <div class="grow">
          <p class="text-dark text-base font-medium">{{ name }}</p>
          <p class="text-sidebar text-sm">Administrator</p>
        </div>
      </div>
      <ul class="text-sm text-dark bg-light cursor-pointer">
        <li class="px-4 py-3 border-t border-solid border-secondary hover:text-active hover:bg-[#e9ecef] transition-200-ease-in-out">My Profile</li>
        <li class="px-4 py-3 border-t border-solid border-secondary hover:text-active hover:bg-[#e9ecef] transition-200-ease-in-out">Inbox</li>
        <li class="px-4 py-3 border-t border-solid border-secondary hover:text-active hover:bg-[#e9ecef] transition-200-ease-in-out" (click)="onLogout()">Logout</li>
      </ul>
    </div>
  </div>
</div>
