<div class="p-6 min-h-screen-except-header">
    <!-- Spinner -->
    <div *ngIf="isFetchingToCreateOrUpdateTeacher || isFetchingToGetTeacher">
        <app-loading-spinner />
    </div>

    <!-- Title -->
    <h4 class="font-medium text-xl md:text-2xl">
        <span *ngIf="createMode">Create Teacher</span>
        <span *ngIf="!createMode">Update Teacher</span>
    </h4>

    <!-- Form -->
    <form [formGroup]="teacherForm" (ngSubmit)="teacherForm.valid && onSubmit()">
        <div class="flex gap-4">
            <div class="flex-1 bg-light px-4 py-6 rounded-md border-1">
                <h3 class="text-lg mb-4 font-medium">Basic Information</h3>
                <div class="grid grid-cols-2 gap-x-2 gap-y-4">
                    <!-- Name -->
                    <div class="flex flex-col gap-2 ">
                        <label class="text-sm text-gray-500 font-medium" htmlFor="username">Username</label>
                        <input pInputText id="username" formControlName="name" />
                    </div>

                    <!-- Birthday -->
                    <div class="flex flex-col gap-2 col-start-2 col-end-3">
                        <label class="text-sm text-gray-500 font-medium" htmlFor="birthday">Birthday</label>
                        <p-calendar id="birthday" formControlName="birthday"></p-calendar>
                    </div>

                    <!-- Gender -->
                    <div class="flex flex-col gap-2 col-start-1 col-end-2">
                        <label class="text-sm text-gray-500 font-medium" htmlFor="gender">Gender</label>
                        <p-dropdown formControlName="gender" [options]="['male', 'female']"></p-dropdown>
                    </div>

                    <!-- Joined Date -->
                    <div class="flex flex-col gap-2 col-start-2 col-end-3">
                        <label class="text-sm text-gray-500 font-medium" htmlFor="joined_date">Joined Date</label>
                        <p-calendar id="joined_date" formControlName="joined_date"></p-calendar>
                    </div>

                    <div class="flex flex-col gap-2 col-start-1 col-span-3">
                        <label class="text-sm text-gray-500 font-medium" htmlFor="technology">Technology</label>
                        <p-dropdown formControlName="subject_id" [options]="subjectList" optionLabel="name"
                            optionValue="id"></p-dropdown>
                    </div>

                    <ng-container formArrayName="class_id">
                        <div class="flex flex-col gap-2 col-start-1 col-span-3"
                            *ngFor="let class of class_id.controls; let i = index">
                            <label class="text-sm text-gray-500 font-medium" htmlFor="technology">Project</label>
                            <p-dropdown [formControlName]="i" optionLabel="name" [options]="classList" optionValue="id">
                                <ng-template let-class pTemplate="item">
                                    {{ class.grade + " " + class.section }}
                                </ng-template>
                            </p-dropdown>
                        </div>
                    </ng-container>


                </div>
            </div>
            <div class="flex-1 bg-light px-4 py-6 rounded-md border-1">
                <h3 class="text-lg mb-4 font-medium">Communications</h3>
                <div class="flex-1 flex flex-col gap-4">
                    <!-- Email -->
                    <div class="flex flex-col gap-2">
                        <label class="text-sm text-gray-500 font-medium" htmlFor="email">Email</label>
                        <input pInputText id="email" aria-describedby="username-help" formControlName="email" />
                    </div>

                    <!-- Phone number -->
                    <div class="flex flex-col gap-2">
                        <label class="text-sm text-gray-500 font-medium" htmlFor="phone">Phone Number</label>
                        <input pInputText id="phone" aria-describedby="phone-help" formControlName="phone" />
                    </div>

                    <!-- Address -->
                    <div class="flex flex-col gap-2">
                        <label class="text-sm text-gray-500 font-medium" htmlFor="address">Address</label>
                        <input pInputText id="address" formControlName="address" />
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full flex justify-end mt-4 px-4">
            <p-button type="submit" label="Submit" [disabled]="!teacherForm.valid"></p-button>
        </div>
    </form>
</div>