.spinner {
  @apply fixed top-0 right-0 left-0 bottom-0 bg-black/40 z-[999];

  .lds-ripple {
    @apply inline-block w-[5rem] h-[5rem] absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;

    div {
      @apply absolute border-4 border-solid border-white opacity-100 rounded-[50%];
      animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }

    div:nth-child(2) {
      animation-delay: -0.5s;
    }

    @keyframes lds-ripple {
      0% {
        @apply top-9 left-9 w-0 h-0 opacity-0;
      }
      4.9% {
        @apply top-9 left-9 w-0 h-0 opacity-0;
      }
      5% {
        @apply top-9 left-9 w-0 h-0 opacity-100;
      }
      100% {
        @apply top-0 left-0 w-[4.5rem] h-[4.5rem] opacity-0;
      }
    }
  }
}
