<div class="">
  <!-- Annual Learning Kind Chart -->


  <!-- Student Gender -->
  <div class="columns-lg bg-light rounded-lg box-border p-6 mr-6">
    <div class="item">
      <div class="top flex items-center justify-between pb-3">
        <h5 class="fs18 font-semibold">Number of Students</h5>
        <i
          class="fa-solid fa-ellipsis-vertical w-6 h-8 leading-8 bg-lightgray rounded-md text-center cursor-pointer"
        ></i>
      </div>
      <div class="bottom">
        <app-student-gender-chart></app-student-gender-chart>
      </div>
    </div>
  </div>
</div>
