<div class="fixed top-0 left-0 right-0 bottom-0 bg-black/40 z-[9999]">
  <div
    class="max-w-[500px] min-h-[200px] max-h-[300px] bg-white absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-lg text-dark"
  >
    <div class="flex items-center justify-between px-6 py-4">
      <h4 class="font-medium text-xl">{{modalTitle}}</h4>
      <fa-icon
        [icon]="faXmarkIcon"
        (click)="closeModal()"
        class="btn icon secondary rounded-full"
      />
    </div>

    <div class="px-6 py-4 text-sidebar leading-7 border-t border-b border-solid border-secondary">{{modalContent}}</div>

    <div class="px-6 py-4 flex justify-end">
      <button class="btn text secondary rounded-lg mr-4" (click)="closeModal()">Decline</button>
      <button class="btn text primary rounded-lg" (click)="onClickAcceptButton()">Accept</button>
    </div>
  </div>
</div>
