<div class="p-[30px] ">
    <div class="lg:flex lg:items-center lg:justify-between">
        <h3 class="font-[500] text-2xl text-[#2c323f] mb-5">Edit Subject</h3>
        <div class="lg:flex lg:items-center text-[24px] text-[#2c323f]">
            <div class="hidden lg:block">
                <a routerLink="/subjects" class="text-base">Subject/</a>
            </div>
            <div class="ml-2 text-gray-400 hidden lg:block text-base mt-2">Edit Subject</div>
        </div>
    </div>
    <div class="bg-white p-4">
        <div class="lg:flex">
            <input type="text" class="block my-[28px] w-full p-[8px] text-base rounded-[6px] border border-gray-400 outline-blue-500 lg:w-[318px]" type="text" placeholder="Subject ID ..." disabled/>
          
            <div class="relative">
                <input type="text" [ngClass]="name.length === 0 ? 'border-red-600' : '' " [(ngModel)]="name" class="block my-[28px] w-full p-[8px] text-base rounded-[6px] border border-gray-400 outline-blue-500 lg:w-[318px]  lg:mx-[32px]" type="text" placeholder="Name Subject ..." required />
                <span *ngIf="name.length === 0" class="absolute bottom-0 left-8 text-red-600">Dữ liệu không được để trống!</span>
            </div>
        </div>
        <button type="submit" (click)="onClick()"
        
            class="border rounded-[8px] mb-[24px] text-base font-semibold py-[16px] px-[48px] cursor-pointer hover:bg-[#18aefa] bg-[#3d5ee1]  text-[white] uppercase lg:ml-[24px] lg:px-[64px] lg:py-[8px] lg:self-end lg:font-[500] lg:ml-[-6px]">
            Submit
        </button>
    </div>
   
</div>
