<div class="columns-lg bg-light rounded-lg box-border p-6 mr-6">
  <div class="item">
    <div class="top flex items-center justify-between pb-3">
      <h5 class="fs18 font-semibold">Overview</h5>
      <i
        class="fa-solid fa-ellipsis-vertical w-6 h-8 leading-8 bg-lightgray rounded-md text-center cursor-pointer"
      ></i>
    </div>
    <div class="bottom">
      <!-- <app-annual-learning-kind></app-annual-learning-kind> -->
      <apx-chart [series]="series" [chart]="chart" [title]="title" [xaxis]="xaxis"></apx-chart>
    </div>
  </div>
</div>
