<div class="p-[30px] ">
    <div class="lg:flex lg:items-center lg:justify-between">
        <h3 class="font-[500] text-2xl text-[#2c323f] mb-5">Edit Subject</h3>
        <div class="lg:flex lg:items-center text-[24px] text-[#2c323f]">
            <div class="hidden lg:block">
                <a routerLink="/technologys" class="text-base">Subject/</a>
            </div>
            <div class="ml-2 text-gray-400 hidden lg:block text-base mt-2">Edit Subject</div>
        </div>
    </div>
    <div class="bg-white p-4">
        <div class="lg:flex">
            <input type="text"
                class="block my-[28px] w-full p-[8px] text-base rounded-[6px] border border-gray-400 outline-blue-500 lg:w-[318px]"
                type="text" [ngModel]="id" placeholder="Subject ID ..." disabled />

            <div class="lg:relative">
                <input type="text" [ngClass]="name.length === 0 ? 'border-red-600' : '' " [(ngModel)]="name"
                    class="block my-[28px] w-full p-[8px] text-base rounded-[6px] border border-gray-400 outline-blue-500 lg:w-[318px]  lg:mx-[32px]"
                    type="text" placeholder="Name Subject ..." required />
                <div *ngIf="name.length === 0"
                    class="relative top-[-20px] left-[6px] text-red-600 lg:absolute lg:top-20 lg:left-8 ">Subject name
                    is required</div>
            </div>
        </div>
        <button type="submit" (click)="UpdateSubject(name)" class="border rounded-[8px] mb-[24px] text-base font-semibold py-[8px] px-[64px] cursor-pointer hover:bg-[#18aefa]
           bg-[#3d5ee1]  text-[white] uppercase lg:px-[64px] lg:py-[8px] lg:self-end lg:font-[500] ">
            Submit
        </button>
    </div>

</div>