<div class="{{ classes }}" *ngIf="isShowNav; else loginTemplate">
    <!-- Header -->
    <app-header (onDisplay)="handleDisplaySidebar(true)" />
    ButtonModule
    <!-- Sidebar -->
    <app-sidebar [display]="displaySidebar" (onDisplay)="handleDisplaySidebar(false)" />

    <!-- Content -->
    <div class="main-content">
        <div class="wrapper"><router-outlet></router-outlet></div>
    </div>

    <!-- Footer -->
    <!-- <app-footer></app-footer> -->
</div>



<ng-template #loginTemplate>
    <div class="bg-content">
        <router-outlet></router-outlet>
    </div>
</ng-template>