<div class="sidebar z-[999]" style="overflow-y: overlay">
  <div>
    <ul>
      <li class="tab-item" *ngFor="let tab of tabs" [ngClass]="{ active: parentTabSelected === tab.id, 'show-child': showChild && parentTabSelected === tab.id}">
        <span class="parent-item"  (click)="setParentTabSelected(tab.id)">
          <span class="w-8">
            <ng-container *ngComponentOutlet="tab.icon" />
          </span>

          <span class="grow">{{tab.name}}</span>

          <span class="chevron-right-icon">
            <app-chevron-right-icon />
          </span>
        </span>

        <ul class="child-list">
          <li class="child-item" [ngClass]="{ active: childTabSelected === children.id}" class="child-item" *ngFor="let children of tab.children" (click)="setChildTabSelected(children.id)">{{children.name}}</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
