.tab-item {
  @apply transition-all duration-200 ease-in-out;

  &.show-child {
    .parent-item > .chevron-right-icon {
      @apply rotate-90;
    }

    .child-list {
      @apply h-fit opacity-100 scale-y-100 origin-top;
    }
  }
}

.tab-item.active {
  .parent-item {
    @apply text-active relative;

    &::before {
      @apply content-[''] absolute left-0 -top-[0.125rem] -bottom-[0.125rem] w-[0.375rem] rounded-r-lg bg-primary;
    }
  }
}

.parent-item {
  @apply flex items-center justify-between px-5 py-3 cursor-pointer transition-all duration-200 ease-in-out hover:text-active;

  .chevron-right-icon {
    @apply rotate-0 transition-all duration-200 ease-in-out;
  }
}

.child-list {
  @apply h-0 opacity-0 scale-y-0 origin-top overflow-hidden px-5 transition-all duration-200 ease-in-out;
}

.child-item {
  @apply py-2 pl-7 rounded-lg cursor-pointer transition-all duration-200 ease-in-out hover:bg-primary hover:text-light;

  & + & {
    @apply mt-1;
  }

  &.active {
    @apply text-light bg-primary;
  }
}
