table {
  tr {
    @apply border-b border-solid border-secondary;

    th,
    td {
      @apply px-[16px] py-[20px] text-left min-w-[80px];
    }

    th:nth-of-type(1),
    td:nth-of-type(1) {
      @apply pl-[24px] pr-[8px];
    }

    input[type="checkbox"] {
      @apply w-4 h-4 relative top-[2px] cursor-pointer;
    }
  }

  tbody {
    tr:nth-last-child(1) {
      @apply border-none;
    }
  }
}

.grid-teacher-list {
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
}
