<div class="min-h-screen flex flex-col justify-center items-center">
    <div *ngIf="message"
        class="w-[95%] max-w-[450px] p-4 flex justify-between mx-auto mb-4 lg:max-w-[800px] bg-red-200 text-red-600 rounded-lg">
        {{ message }}
        <span class="underline text-blue-600 cursor-pointer" (click)="onClearMessage()">OK</span>
    </div>
    <span *ngIf="isLoading" class="loader"></span>

    <div *ngIf="!isLoading" class="w-[95%] max-w-[450px] mx-auto shadow-lg lg:flex lg:max-w-[800px] lg:bg-white">
        <!--  Image-->
        <div class="hidden lg:block lg:w-1/2 bg-[#18aefa] relative image-cover rounded-l-lg rounded-r-3xl">
            <img src="../../../assets/images/login.png" alt="Login-Img"
                class="h-[439px] object-fill bottom-0 absolute" />
        </div>
        <!-- -->
        <div class="py-8 px-7 bg-white w-full rounded-2xl lg:w-1/2 lg:rounded-l-none lg:py-10 lg:px-10">
            <h1 class="text-2xl font-bold">Welcome to Preskool</h1>
            <p class="text-sm text-gray-400 mt-1">Need an account? <a href="#" class="text-blue-500">Sign Up</a></p>

            <h3 class="mt-8 mb-6 text-xl font-medium">Sign in</h3>
            <form class="space-y-5" #f="ngForm" (ngSubmit)="onSubmit(f)">
                <div class="relative">
                    <label for="email"
                        class="absolute text-[0.8rem] -top-2.5 left-3 bg-white px-1 text-gray-400 font-medium tracking-wider">
                        Username <span class="text-red-600">*</span>
                    </label>
                    <input type="text" id="email"
                        class="block w-full px-3 py-3 font-normal border border-gray-300 rounded-lg placeholder:font-md placeholder:text-gray-400 outline-none focus:border-blue-500 lg:px-4 lg:py-2.5 lg:text-[0.9rem]"
                        required email placeholder="Email" name="email" ngModel #name="ngModel" />
                    <span class="absolute top-1/2 right-[15px] -translate-y-1/2">
                        <fa-icon [icon]="icons.userCircleIcon"></fa-icon>
                    </span>
                </div>
                <div *ngIf="name.invalid && name.touched" class="text-sm text-red-600 space-x-1">
                    <span *ngIf="name.errors?.['required']">Email is required.</span>
                    <span *ngIf="name.errors?.['email']">Email is not valid.</span>
                </div>
                <div class="relative">
                    <label for="password"
                        class="absolute text-[0.8rem] -top-2.5 left-3 bg-white px-1 text-gray-400 font-medium tracking-wider">
                        Password <span class="text-red-600">*</span>
                    </label>
                    <input [type]="isShowPassword ? 'text' : 'password'" id="password"
                        class="block w-full px-3 py-3 font-normal border rounded-lg border-gray-300 placeholder:font-md placeholder:text-gray-400 outline-none focus:border-blue-500 lg:px-4 lg:py-2.5 lg:text-[0.9rem]"
                        ngModel name="password" #password="ngModel" minlength="6" required placeholder="Password" />
                    <span class="absolute top-1/2 right-[15px] -translate-y-1/2 cursor-pointer"
                        (click)="onToggleShowPassword()">
                        <fa-icon [icon]="isShowPassword ? icons.slashIcon : icons.eyeIcon"></fa-icon>
                    </span>
                </div>
                <div *ngIf="password.invalid && password.touched" class="text-sm text-red-600 space-x-1">
                    <span *ngIf="password.errors?.['required']">Password is required.</span>
                    <span *ngIf="password.errors?.['minlength']">Length must be >= 6 characters.</span>
                </div>

                <div class="flex justify-between">
                    <div class="relative flex cursor-pointer" (click)="onToggleRemembered()">
                        <span
                            class="w-[20px] h-[20px] block border mr-2 border-gray-300 cursor-pointer relative rounded-md overflow-hidden">
                            <span class="absolute inset-0 bg-blue-700" *ngIf="isRemembered"></span>
                            <fa-icon [icon]="icons.iconCheck"
                                class="text-white text-[0.6rem] absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2"
                                *ngIf="isRemembered"></fa-icon>
                        </span>
                        <input type="checkbox" id="isRemember" class="opacity-0 absolute -top-1/2" />
                        <label for="isRemember" class="text-gray-500 text-sm cursor-pointer"
                            (click)="onToggleRemembered()">
                            Remember me
                        </label>
                    </div>
                    <a href="#" class="text-blue-600 text-sm">Forgot Password ?</a>
                </div>
                <button
                    class="block w-full text-white bg-blue-700 py-2 rounded-md hover:bg-blue-500 duration-200 disabled:cursor-not-allowed disabled:bg-blue-400">
                    Login
                </button>
                <!--        [disabled]="!f.valid"-->
                <div class="relative h-[1px] text-gray-500" style="margin-top: 2rem; margin-bottom: 2rem">
                    <span class="block absolute w-full h-[1px] bg-gray-300 top-1/2"></span>
                    <span class="absolute left-1/2 -top-1/2 -translate-y-1/2 -translate-x-1/2 bg-white px-4">OR</span>
                </div>
                <div class="flex justify-center space-x-2">
                    <a href="#"
                        class="w-[32px] h-[32px] flex items-center justify-center bg-gray-300 rounded-md group hover:bg-blue-500 duration-300">
                        <fa-icon class="text-[18px] group-hover:text-white duration-300"
                            [icon]="icons.googleIcon"></fa-icon>
                    </a>
                    <a href="#"
                        class="w-[32px] h-[32px] flex items-center justify-center bg-gray-300 rounded-md group hover:bg-blue-500 duration-300">
                        <fa-icon class="text-[18px] group-hover:text-white duration-300"
                            [icon]="icons.facebookIcon"></fa-icon>
                    </a>
                    <a href="#"
                        class="w-[32px] h-[32px] flex items-center justify-center bg-gray-300 rounded-md group hover:bg-blue-500 duration-300">
                        <fa-icon class="text-[18px] group-hover:text-white duration-300"
                            [icon]="icons.twitterIcon"></fa-icon>
                    </a>
                    <a href="#"
                        class="w-[32px] h-[32px] flex items-center justify-center bg-gray-300 rounded-md group hover:bg-blue-500 duration-300">
                        <fa-icon class="text-[18px] group-hover:text-white duration-300"
                            [icon]="icons.linkedInIcon"></fa-icon>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>