@import "~@fortawesome/fontawesome-free/css/all.min.css";
.form-radio:focus+span {
  @apply bg-gray-300;
}

.form-radio:checked+span {
  @apply font-bold text-blue-500;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}

.loader {
  width: 84px;
  height: 64px;
  position: relative;
  border: 5px solid #18AEFA;
  border-radius: 8px;
}
.loader::before {
  content: '';
  position: absolute;
  border: 5px solid #18AEFA;
  width: 52px;
  height: 48px;
  border-radius: 50% 50% 0 0;
  left: 50%;
  top: 0;
  transform: translate(-50% , -100%)

}
.loader::after {
  content: '';
  position: absolute;
  transform: translate(-50% , -50%);
  left: 50%;
  top: 50%;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #3D5EE1;
  box-shadow: 16px 0 #3D5EE1, -16px 0 #3D5EE1;
  animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
  0% {
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 16px 0 rgba(255, 255, 255, 0.25), -16px 0 #18AEFA ;
  }
  50% {
    background-color: #18AEFA;
    box-shadow: 16px 0 rgba(255, 255, 255, 0.25), -16px 0 rgba(255, 255, 255, 0.25);
  }
  100% {
    background-color: white;
    box-shadow: 16px 0 #18AEFA, -16px 0 rgba(255, 255, 255, 0.25);
  }
}
