.jqx-button-light,
.jqx-button-light.jqx-fill-state-normal-light {
    @apply py-2 px-3 mx-2;
}

.jqx-group-button-normal.jqx-fill-state-pressed {
    @apply rounded;
}

.jqx-popup-light {
    @apply shadow;
}

.jqx-scheduler-edit-dialog-label-light {
    @apply text-sm;
}

.jqx-window-header-light {
    width: auto !important;
    padding: 12px;
}

.jqx-scheduler-appointment-inner-content {
    @apply text-gray-700;
}

.jqx-scheduler-edit-dialog-field .jqx-button-light {
    @apply py-2 px-4;
}

.jqx-scheduler-appointment {
    height: 40px !important;
    line-height: 40px !important;
}

:root {
    --jqx-primary: rgb(59, 130, 246) !important;
    --jqx-surface-color: rgb(107, 114, 128) !important;
    --jqx-background-color: rgb(107, 114, 128) !important;
}
