@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./primeng.scss";

.custom-toastr {
    display: flex;
    justify-content: center;
    box-shadow: 0 0 6px #9f9d9d !important;
    top: 10px !important;
    font-size: 14px;
    padding: 12px !important;
    background-size: 18px !important;
    text-indent: 32px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1rem;
    line-height: normal;
}

body {
    text-rendering: optimizeSpeed;
    overflow-y: overlay;
}

img {
    object-fit: contain;
}

// Fonts embedded
@font-face {
    font-family: Roboto;
    src: url("./assets/fonts/roboto-regular.woff2");
    font-weight: 400;
}

@font-face {
    font-family: Roboto;
    src: url("./assets/fonts/roboto-medium.woff2");
    font-weight: 500;
}

// Scrollbar
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 0.375rem;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 0.25rem;
    background-color: rgba(0, 0, 0, 0.4);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

// TailwindCSS
@layer utilities {
    .wrapper {
        @apply max-w-7xl px-6 mx-auto;
    }
}

@layer base {
    html {
        @apply font-roboto;
    }
}

@layer components {
    .transition-200-ease-in-out {
        @apply transition-all duration-200 ease-in-out;
    }

    .main {
        @apply w-full;

        .sidebar {
            @apply fixed left-0 top-header bottom-0 w-sidebar bg-white text-sidebar py-4 transition-200-ease-in-out;
        }

        .main-content {
            @apply bg-content min-h-screen mt-[60px] ml-0 transition-200-ease-in-out;
        }
    }
}
