<div class="p-6 min-h-screen-except-header">
  <!-- Spinner -->
  <div *ngIf="isFetchingToCreateOrUpdateTeacher || isFetchingToGetTeacher">
      <app-loading-spinner />
  </div>

  <!-- Title -->
  <h4 class="font-medium text-xl md:text-2xl">
      <span *ngIf="createMode">Create Teacher</span>
      <span *ngIf="!createMode">Update Teacher</span>
  </h4>

  <!-- Form -->
  <form *ngIf="!isFetchingToGetTeacher" class="mt-6 bg-light rounded-lg p-6" [formGroup]="teacherForm"
      (ngSubmit)="teacherForm.valid && onSubmit()">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-x-12 gap-y-12">
          <!-- Name -->
          <div class="field-item">
              <label>Name</label>
              <input type="text" formControlName="name" />
              <span *ngIf="!teacherForm.get('name')?.valid && teacherForm.get('name')?.touched" class="error-message">
                  <span *ngIf="teacherForm.get('name')?.errors?.['required']; else empty">This field is
                      required!</span>
                  <ng-template #empty><span *ngIf="teacherForm.get('name')?.errors?.['empty']">This field must not be
                          empty!</span></ng-template>
              </span>
          </div>

          <!-- Gender -->
          <div class="field-item">
              <label>Gender</label>
              <select formControlName="gender">
                  <option value="male">Male</option>
                  <option value="female">Female</option>
              </select>
              <span class="error-message"
                  *ngIf="!teacherForm.get('gender')?.valid && teacherForm.get('gender')?.touched">Gender is
                  required!</span>
          </div>

          <!-- Birthday -->
          <div class="field-item">
              <label>Birthday</label>
              <input type="date" formControlName="birthday" />
              <span class="error-message"
                  *ngIf="!teacherForm.get('birthday')?.valid && teacherForm.get('birthday')?.touched">
                  This field is required!
              </span>
          </div>

          <!-- Address -->
          <div class="field-item">
              <label>Address</label>
              <input type="text" formControlName="address" />
              <span class="error-message"
                  *ngIf="!teacherForm.get('address')?.valid && teacherForm.get('address')?.touched">
                  <span *ngIf="teacherForm.get('address')?.errors?.['required']; else empty">This field is
                      required!</span>
                  <ng-template #empty><span *ngIf="teacherForm.get('address')?.errors?.['empty']">This field must not
                          be empty!</span></ng-template>
              </span>
          </div>

          <!-- Phone -->
          <div class="field-item">
              <label>Phone Number</label>
              <input type="text" formControlName="phone" />
              <span class="error-message"
                  *ngIf="!teacherForm.get('phone')?.valid && teacherForm.get('phone')?.touched">
                  <span *ngIf="teacherForm.get('phone')?.errors?.['required']; else notFormattedError">Phone number is
                      required!</span>
                  <ng-template #notFormattedError>Phone number is not right formatted!</ng-template>
              </span>
          </div>

          <!-- Email -->
          <div class="field-item">
              <label>Email</label>
              <input type="text" formControlName="email" />
              <span class="error-message"
                  *ngIf="!teacherForm.get('email')?.valid && teacherForm.get('email')?.touched">
                  <span *ngIf="teacherForm.get('email')?.errors?.['required']; else emailError">Email is
                      required!</span>
                  <ng-template #emailError>
                      <span *ngIf="teacherForm.get('email')?.errors?.['email']">Email is not right formatted!</span>
                  </ng-template>
              </span>
          </div>

          <!-- Subject -->
          <div class="field-item">
              <label>Subject</label>
              <select formControlName="subject_id">
                  <option *ngFor="let subject of subjectList" [value]="subject.id">{{ subject.name }}</option>
              </select>
              <span class="error-message"
                  *ngIf="!teacherForm.get('grade')?.valid && teacherForm.get('grade')?.touched">
                  Gender is required!
              </span>
          </div>

          <!-- Join Date -->
          <div class="field-item">
              <label>Join Date</label>
              <input type="date" formControlName="joined_date" />
              <span class="error-message"
                  *ngIf="!teacherForm.get('joined_date')?.valid && teacherForm.get('joined_date')?.touched">
                  This field is required!
              </span>
          </div>
      </div>

      <button type="submit" [disabled]="!teacherForm.valid" class="btn text primary rounded-lg mt-6">
          Submit
      </button>
  </form>
</div>
