<ng-container>
    <!-- Spinner -->
    <div *ngIf="deleting">
        <app-loading-spinner />
    </div>

    <!-- Header Section -->
    <div class="rounded-t bg-light shadow">
        <p-table [globalFilterFields]="globalFilterFields" #dt [loading]="fetching" [columns]="cols"
            [value]="dataToShow" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="caption" *ngIf="!isCaption">

                <ng-content select=".caption">

                </ng-content>
            </ng-template>
            <!-- <ng-content select=".caption">

                </ng-content> -->
            <ng-template *ngIf="isCaption" pTemplate="caption">
                <h4 class="text-lg font-medium mb-4">{{title}} Management</h4>
                <!-- Search box -->
                <div class="flex justify-between">
                    <div class="relative w-full md:w-[18.75rem]">
                        <span class="absolute top-1/2 left-4 -translate-y-1/2 text-[#11111152]">
                            <fa-icon [icon]="icons.faMagnifyingGlass"></fa-icon>
                        </span>

                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input (input)="dt.filterGlobal($event, 'contains')" type="text" pInputText
                                placeholder="Search {{title}}" />
                        </span>

                    </div>
                    <p-button (onClick)="onAdd.emit()" label="Add {{title}}"></p-button>
                </div>
            </ng-template>

            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{ col.header }}
                    </th>
                    <th *ngIf="!disableActions">
                        Actions
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>

                    <td *ngFor="let col of columns">
                        <a class="text-blue-500" [routerLink]="rowData[col.link[0]]" *ngIf="col.link;">{{
                            rowData[col.field]
                            }}</a>
                        <ng-container *ngIf="col.date;">
                            {{rowData[col.field] | date: 'dd/MM/yyyy'}}
                        </ng-container>

                        <ng-container *ngIf="!col.date && !col.link">{{ rowData[col.field] }}</ng-container>
                    </td>
                    <td *ngIf="!disableActions">
                        <div class="flex items-center gap-2">
                            <button class="rounded-full btn icon secondary sm" (click)="onUpdate.emit(rowData)">
                                <fa-icon [icon]="icons.faPenToSquare"></fa-icon>
                            </button>
                            <button class="rounded-full btn icon secondary sm" (click)="onDelete.emit(rowData)">
                                <fa-icon [icon]="icons.faTrash"></fa-icon>
                            </button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <!-- <app-skeleton *ngIf="fetching"></app-skeleton> -->
    </div>

    <div class="flex justify-end items-center pt-2 pb-8">
        <span class="mx-1 text-gray-500 text-sm">Items per page: </span>
        <p-dropdown [options]="[5, 10, 20]" [(ngModel)]="rows" (ngModelChange)="onRowChange($event)"></p-dropdown>
        <p-paginator [first]="first" [rows]="rows" [totalRecords]="data.length" (onPageChange)="onPageChange($event)"
            [showCurrentPageReport]="true" currentPageReportTemplate="{first} - {last} of {totalRecords}"
            [showPageLinks]="false" [showFirstLastIcon]="false"></p-paginator>
    </div>


</ng-container>